/* Font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:normal;
  font-style: normal;
}
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
/* Shared Styling  */
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.display-flex{
    display: flex;
}
.background-color{
    background-color: rgba(255, 144, 14, 0.1);
}
.primary-color{
    color: #FF900E;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 10px;
    border: none;
}
main > section{
    margin-top:130px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* dark-01 */
.dark1{
    color: #131313;
}
/* dark-02 */
.text-gray{
    color: #424242;
}
/* dark-03 */
.text-light-gray{
    color: #727272;
}
/* navbar Styling */
.navbar{
    /* display: flex; */
    align-items: center;
    justify-content: space-around;
}
.navbar .nav-links, .nav-item{
    list-style: none;
    margin-right: 30px;

}
.navbar .nav-links, .nav-item a{
    text-decoration: none;
    font-weight: 500;
    color: black;
}
.navbar, .banner, .sponsor{
    max-width: 1440px;
    margin: 0 auto;

}
.brand{
    font-weight: bold;
    font-size: 2.8rem;
}

/* banner-section-stylin  */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
}
.banner-image{
    width: 100%;
    margin-bottom: 45px;
}
/* Team Section-Styling  */
.teams{
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-feature{
    max-width: 530px;
    margin-left: 130px;
    /* border: 2px solid black; */
}
#quick{
    font-weight: 500;
}
.btn01{
    margin-top: 50px;
}
/* Section-somefacts-Styling  */
.some-facts-description{
    max-width: 540px;
}
.card-container{
    max-width: 1340px;
    margin: 130px auto 130px;
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}
.card{
    width: 170px;
    border: 2px solid #FF900E;
    padding: 45px 35px;
    border-radius: 10px;
    text-align: center;
}
.card .num{
    font-size: 2.8rem;
    font-weight: 600;
    margin: 0 auto;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
}
/* Styling  The Sponsor Section  */
.sponsor-description{
    max-width: 545px;
    margin: 0 auto;
    text-align: center;
}
.sponsor h3{
    /* border: 2px solid black; */
    margin-bottom: 10px;
}
.sponsor-description-{
    margin-top: 10px;
    /* border: 2px solid black; */
}
.sponsors-detail-img{
    filter: grayscale(100%);
    margin-top: 50px;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Styling The footer Section  */
footer{
    max-width: 1440px;
    height: 100px;
    background-color: #FFF4E7;
    margin: 130px auto 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Responsiveness Of the Overall Small Devide*/
@media screen and (max-width: 576px) {
    .navbar, .nav-links, .teams, .sponsors-detail-img{
        flex-direction: column;
        gap: 40px;
    }
    .team-image-container, .card-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .card-container{
        gap: 40px;
    }
    .card{
        margin: 0 auto;
    }
    .our-feature{
        margin: 0;
        text-align: center;
    }
    .some-facts-description, .some-facts-title{
        text-align: center;
    }
}

/* Responsiveness of the overall Medium Size */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams, .sponsors-detail-img{
        flex-direction: column;
        gap: 40px;
    }
    .our-feature{
        margin:20px auto;
        text-align: center;
    }
    .card-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        padding: 10px;
    }
    .card{
        margin: 0 auto;
    }
    .some-facts-title, .some-facts-description{
       text-align: center;
    }
}